@charset "ISO-8859-1";

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

#invalidc{
	color:red;
	text-align:center;
	margin-top: 200px;
}
#header{
    background-color: #008597;
    color:white;
    line-height: 80px;

}

#logo{
    float:left;
    margin-left: 30px;
    font-size: 35px;
    
}

#list{
    float:right;
    margin-right: 50px;
    line-height: 80px;
}

#list li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px; 
}

#list li a{
    color: white;
    font-size: 20px;
    padding: 7px 13px;
    border-radius: 3px;
    text-decoration:none;
}

a.active,
a:hover {
    background: #026c7a;
}


#clear{
    clear:both;
}


#boxmodel {
    margin: auto;
    border: 1px solid rgb(151, 151, 151);
    width: 700px;
    border-radius: 10px;
    box-shadow: 0 0 5px 0px grey;
}

#heading{
    background-color: #008597;
    border-radius:10px 10px 0 0;
    height:60px;
    line-height:60px;
    color:white;
    margin:auto;
    font-size:25px;
    text-align: center;
}

input:hover,input:focus,input:active{
    background-color:rgb(243, 237, 238);
    outline: none;
}

.formdiv{
    padding: 20px 80px;
    margin: auto;
}

.form-control label {
	display: inline-block;
	margin-bottom: 3px;
	font-size:18px;
}

.form-control input{
    padding:6px;
    margin-bottom: 6px;
    border-radius:8px;
    border-color:rgb(214, 214, 214);
    display: block;
    width:500px;
    font-size:18px;
}

input:hover,input:focus,input:active{
    background-color:rgb(217, 237, 238);
    outline: none;
}

.form-control {
	margin-bottom: 8px;
	padding-bottom: 15px;
	position: relative;
    
}

.form-control small {
	color: #e74c3c;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.form-control.error small {
	visibility: visible;
	font-size:18px;
}
.form-control.success input {
	border-color: #2ecc71;
}

.form-control.error input {
	border-color: #e74c3c;
}

#address{
    font-weight: bold;
}


#submitstyle {
    background-color: #008597;
    padding: 5px 30px;
    color: white;
    font-weight: bold;
    margin-left: 130px;
    border-radius: 5px;
    border: none;
    width:200px;
    font-size:18px;
}

#submitstyle:hover{
    background: #026c7a;
}