@charset "ISO-8859-1";

*{
    margin:0;
}

body{
    background-color: white;
}

#boxmodel {
    margin: auto;
    border: 1px solid rgb(151, 151, 151);
    width: 700px;
    margin-top: 180px;
    border-radius: 10px;
    
    box-shadow: 0 0 5px 0px grey;
}

#heading{
    background-color: #008597;
    border-radius:10px 10px 0 0;
    height:60px;
    line-height:60px;
    color:white;
    margin:auto;
    font-size:25px;
    text-align: center;
}

.formdiv{
    padding: 20px 80px;
    margin: auto;
}

.form-control label {
	display: inline-block;
	margin-bottom: 3px;
	font-size:18px;
}

.form-control input{
    padding:6px;
    margin-bottom: 6px;
    border-radius:8px;
    border-color:rgb(214, 214, 214);
    display: block;
    width:500px;
    font-size:18px;
}

input:hover,input:focus,input:active{
    background-color:rgb(217, 237, 238);
    outline: none;
}

.form-control {
	margin-bottom: 15px;
}

select{
	padding:2px 10px;
    border-radius:8px;
    
    border:2px solid rgb(214, 214, 214);
    display: block;
	width:520px;
	font-size:18px;
}

option{
	padding:2px 10px;
    border-radius:8px;
    border:2px solid rgb(214, 214, 214);
    display: block;
	width:520px;
	font-size:18px;
}

select:hover,select:focus,select:active{
    background-color:rgb(217, 237, 238);
    outline: none;
}

#submitstyle {
    background-color: #008597;
    padding: 5px 30px;
    color: white;
    font-weight: bold;
    margin-left: 130px;
    border-radius: 5px;
    border: none;
    width:200px;
    font-size:18px;
}

#submitstyle:hover{
    background: #026c7a;
}

.msg{
	text-align:center;
	color:green;
}