@charset "ISO-8859-1";

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body {
	background: url("../ShoppingImages/happyshopping.png") no-repeat 500px 80px transparent;
	background-size: 1200px 800px;
}



#header{
    background-color: #008597;
    color:white;
    line-height: 80px;

}

#logo{
    float:left;
    margin-left: 30px;
    font-size: 35px;
    
}

#list{
    float:right;
    margin-right: 50px;
    line-height: 80px;
}

#list li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px; 
}

#list li a{
    color: white;
    font-size: 20px;
    padding: 7px 13px;
    border-radius: 3px;
    text-decoration:none;
}

a.active,
a:hover {
    background: #026c7a;
}


#clear{
    clear:both;
}