@charset "ISO-8859-1";

*{
    margin:0;
}

body{
    background-color: white;
}

table{
	margin:auto;
	margin-top:50px;
	border-collapse:collapse;
	width:70%;
	font-family:Arial,Helvetica,sans-serif;
}

.tablecs th,.tablecs td{
	border:1px solid #ddd;
	padding:18px;
	text-align:center;
}

.tablecs tr:nth-child(even){
	background-color:#f2f2f2;
}


.tablecs th{
	padding-top:12px;
	padding-bottom:12px;
	background-color:#008597;
	color:white;
	font-size:18px;
}

.tablecs td{
	font-size:18px;
}

.tablecs .cart{
	font-size:18px;
	color:#0000EE;
}


.tablecs .cart:hover{
	background-color:transparent;
	color:#008597
}


.msg{
	text-align:center;
	color:green;
}
