@charset "ISO-8859-1";

*{
    margin:0;
}

body{
    background-color: white;
}

table{
	margin:auto;
	
	border-collapse:collapse;
	width:70%;
	font-family:Arial,Helvetica,sans-serif;
}

.tablecs th,.tablecs td{
	border:1px solid #ddd;
	padding:18px;
	text-align:center;
}

.tablecs tr:nth-child(even){
	background-color:#f2f2f2;
}


.tablecs th{
	padding-top:12px;
	padding-bottom:12px;
	background-color:#008597;
	color:white;
	font-size:18px;
}

.tablecs td{
	font-size:18px;
}

.tablecs .cart{
	float:left;
	font-size:18px;
	color:#0000EE;
}

.tablecs .buy{
	float:right;
	font-size:18px;
	color:#0000EE;
	
}

.tablecs .cart:hover{
	background-color:transparent;
	color:#008597
}

.tablecs .buy:hover{
	background-color:transparent;
	color:#008597;
}

caption{
	font-size:25px;
	color:#008597;
	font-weight:bold;
}

#order{
	border:1px solid grey;
	padding:10px;
	float:right;
	margin-right:20px;
	margin-top:20px;
	border-radius:4px;
}

button{
	display:block;
	margin:0 auto;
	padding:7px;
	font-size:16px;
	background-color:green;
	color:white;
	border-radius: 5px;
    border: none;
}

.remove{
	font-size:18px;
	color:#0000EE;
}

.remove:hover{
	background-color:transparent;
		color:red;
}

.ptoOrder{
	text-decoration:none;
}


.emptymsg{
	text-align:center;
	font-size:50px;
	margin-top:300px;
}

