@charset "ISO-8859-1";

*{
    margin:0;
}

body{
    background-color: white;
}

table{
	margin:auto;
	
	border-collapse:collapse;
	width:70%;
	font-family:Arial,Helvetica,sans-serif;
}

.tablecs th,.tablecs td{
	border:1px solid #ddd;
	padding:18px;
	text-align:center;
}

.tablecs tr:nth-child(even){
	background-color:#f2f2f2;
}


.tablecs th{
	padding-top:12px;
	padding-bottom:12px;
	background-color:#008597;
	color:white;
	font-size:18px;
}

.tablecs td{
	font-size:18px;
}

#order{
	text-align:center;
	border:1px solid #9e9e9e33;;
	padding:10px;
	border-radius:4px;
	width:500px;
	margin:auto;
	margin-top:40px;
	margin-bottom:30px;
}

#fields{
	font-weight:bold;
	font-size:20px;
}
caption{
	font-size:25px;
	color:#008597;
	font-weight:bold;
	text-decoration:underline;
}

.tableorder td{
	text-align:center;
	padding:5px;
}

#shipad{
	padding-top:25px;
	color:#008597;
	text-align:center;
	font-weight:bold;
	font-size:25px;
	text-decoration:underline;
	
}

.emptymsg{
	text-align:center;
	font-size:50px;
	margin-top:300px;
}

