@charset "ISO-8859-1";
.buttonstyle {
    background-color: #008597;
    padding: 5px 30px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    width:200px;
    font-size:18px;
}

.buttonstyle :hover{
    background: #026c7a;
}

.errorText{
	margin-top:300px;
	text-align:center;
}